@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



// Import custom variables and Bulma overides



// Import only what you need from Bulma

body {
  // display: block;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  // font: 14px 'Permanent Marker', cursive; <-- use this font for polaroid style list items
}

.polaroid-base {
  display: flex;
  flex-wrap: wrap;
  border: 2px #000000 solid;
}
