@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



// Import custom variables and Bulma overides
@import './concerts.scss';


// Import only what you need from Bulma


body {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  // margin: 0px;
  // height: 100vh;
  // width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: lavender;
}

.header-title {
  padding-left: 20px;
}

nav { 
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
}

.concerts-nav-link {
  padding: 0 20px 0 400px;
}

.travels-nav-link {
  padding: 0 20px 0 60px;
}

