.travels-panel-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.flip-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 55vw;
  background-color: #fffaf7;
  color: #000c10;
  border: 2px #fffaf7 solid;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  font: 2vw 'Permanent Marker', cursive;
  text-align: center;
  align-items: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: #fffaf7;
  margin-top: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: #000c10;
}

img {
  width: 100%;
} 

.flip-card-back {
  background-color: #fffaf7;
  color: #000c10;
  font: 2vw 'Permanent Marker', cursive;
  transform: rotateY(180deg);
}